.auth {
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 24px;

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        width: 100%;
        max-width: 527px;
        border: 1px solid rgba(0, 0, 0, .08);
        border-radius: 16px;
        padding: 24px;
        background: #fff;
    }

    &__header {
        margin-bottom: 16px;
    }

    &__title {
        margin: 0 0 8px;
        font-size: 40px;
    }

    &__subtitle {
        margin: 0;
        opacity: 0.7;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-content: center;
        align-items: center;
    }

    &__field {
        display: flex;
        flex-direction: column;

    }

    &__error {
        min-height: 16px;
        margin: 0;
        font-size: 12px;
        color: #c00;
    }

    &__remember {
        display: flex;
        align-items: center;
        gap: 10px;

    }

    &__checkbox {
        width: 18px;
        height: 18px;
        border: 2px solid #EDEDED;
        border-radius: 8px;
    }

    &__rememberText {
        color: #9C9C9C;
        font-size: 16px;
    }

    &__submit {
        border-color: #367AFF;
        background-image: linear-gradient(#FFFFFF -200%, #242EDB 40%);
        border-radius: 12px;
        height: 54px;
        color: #FFFFFF;
        font-size: 18px;
    }

    &__divider {
        display: flex;
        align-items: center;
        align-self: stretch;
        gap: 12px;

        &::before,
        &::after {
            content: "";
            flex: 1;
            display: block;
            border-top: 1px solid #EBEBEB;
            opacity: 0.9;
        }
    }

    &__dividerText {
        color: #EBEBEB;
        font-size: 16px;
        line-height: 24px;
        text-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    }

    &__footer {
        margin: 0;
        text-align: center;
        color: #6C6C6C;
    }

    &__link {
        color: #242EDB;
    }


}