.auth {
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 24px;
    font-family: var(--font-family-inter);

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 527px;
        border: 1px solid rgba(0, 0, 0, .08);
        border-radius: 16px;
        padding: 24px;
        background: #fff;
    }

    &__header {
        margin-bottom: 16px;
        margin-bottom: 24px;
        text-align: center;
    }

    &__title {
        margin: 0 0 8px;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.1;
    }

    &__subtitle {
        margin: 0;
        color: #9C9C9C;
    }

    &__form {
        width: 399px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 14px;
        align-items: stretch;
    }

    &__field {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    &__label {
        font-size: 14px;
        line-height: 20px;
        color: #1a1a1a;
    }

    &__input {
        width: 100%;
        height: 48px;
        border: 1px solid #EDEDED;
        border-radius: 12px;
        padding: 0 14px;
        outline: none;

        &:focus {
            border-color: rgba(36, 46, 219, 0.35);
            box-shadow: 0 0 0 4px rgba(36, 46, 219, 0.12);
        }

        &:disabled {
            opacity: 0.6;
            cursor: not-allowed;
        }
    }

    &__error {
        min-height: 16px;
        margin: 0;
        font-size: 12px;
        color: #c00;
    }

    &__remember {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 2px;

    }

    &__checkbox {
        width: 18px;
        height: 18px;
        accent-color: #242edb;
        border-radius: 4px;
    }

    &__rememberText {
        color: #9C9C9C;
        font-size: 16px;
        line-height: 24px;
    }

    &__submit {
        width: 100%;
        height: 54px;

        border: 0;
        border-radius: 12px;

        background: linear-gradient(180deg, #3b46ff 0%, #242edb 100%);
        color: #FFFFFF;
        font-size: 18px;

        cursor: pointer;

        :disabled {
            opacity: 0.7;
            cursor: not-allowed;
        }
    }

    &__divider {
        margin-top: 6px;
        display: flex;
        align-items: center;
        gap: 12px;

        &::before,
        &::after {
            content: "";
            flex: 1;
            border-top: 1px solid #EBEBEB;
        }
    }

    &__dividerText {
        color: #EBEBEB;
        font-size: 14px;
        line-height: 24px;

    }

    &__footer {
        margin: 18px 0 0;
        text-align: center;
        color: #6C6C6C;
    }

    &__link {
        color: #242EDB;
        text-decoration: underline;
    }


}