.products__footer {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products__meta {
    font-size: 14px;
    line-height: 21px;
    color: #a6a6a6;
}

.products__pagination {
    display: flex;
    align-items: center;
    gap: 10px;
}

.products__pageArrow {
    border: 0;
    background: transparent;
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 4px;

    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #bdbdbd;
}

.products__page {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #a6a6a6;
    background: #ffffff;
    display: grid;
    place-items: center;
    font-size: 14px;
    line-height: 21px;
    color: #b3b3b3;

    &--active {
        background: #6f76e6;
        border-color: #6f76e6;
        color: #ffffff;
    }
}