.productsList {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;

    &__list {
        margin: 0;
        padding: 0;
    }

    &__listItem {
        display: grid;
        grid-template-columns: 52px 1.8fr 1fr 1fr 0.7fr 0.9fr 140px;
        align-items: center;
        min-height: 70px;
        border-bottom: 1px solid #e2e2e2;

        &--head {
            min-height: 64px;
        }
    }

    &__cell {
        padding: 0 18px;
        display: flex;
        align-items: center;
        min-width: 0;
    }

    &__headLabel {
        color: #999;
        font-weight: 600;
    }

}