.authInput {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__label {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.1;
        color: #232323;
    }

    &__control {
        position: relative;
    }

    &__input {
        width: 100%;
        height: 55px;
        border: 2px solid #ededed;
        border-radius: 24px;
        background: #fff;
        outline: none;

        padding-left: calc(16px + 24px + 16px);

        padding-right: calc(16px + 24px + 16px);

        font-size: 18px;
        font-weight: 500;
        letter-spacing: -0.015em;

        &:focus {
            border-color: #c9c9c9;
        }

        &:disabled {
            opacity: 0.6;
            cursor: not-allowed;
        }
    }

    &__leftIcon {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        display: grid;
        place-items: center;
        color: #c9c9c9;
        pointer-events: none;
    }

    &__rightIcon {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        display: grid;
        place-items: center;
        color: #c9c9c9;
        pointer-events: none;
    }

    &__error {
        min-height: 16px;
        margin: 0;
        font-size: 12px;
        color: #c00;
    }
}